*{
	font-family: 微軟正黑體;
}
html{
	scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
.main {
    max-width: 80%;
    margin: 0 auto;
}
.navbar{
	margin-bottom: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {

    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {

    background-color: transparent;
}

.dropdown-menu {
	width: 40px;
	position: absolute;
    top: 100%;
    left: 50%;
}
.dropdown-menu  >ul>li >a{
	color: white;
}
.dropdown-menu li a:hover{
	color: black;
}

  .navbar-header ul li a{
	font-size: 26px;
	margin-left: 150px;
}

.navbar-header ul>li>ul>li a{
	margin-left: 0;
	text-align: center;
	color: white;
}
.top {
    height: 100vh;
    width: 100%;
    background-image: url('information/03-photo/3175-14031QA42S01.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp ul>li{
	display: none;
}
.top h3 {
    text-align: center;
    font-size: 30px;
}
.top .main .block{
	width: 100vh;
	height: 30vh;
	background-image: url('information/03-photo/3059696.png');
	background-size: 100% 100%;
	background-position: center;
}

.select{
	height: 1vh;
    font-size: 35px;
    color: darkblue;
    margin: 0;
}
#about{
	height: 60vh;
}
#about .main,#frame .main,#play .main,#character .main,#studio .main,#adv .main,#download .main,#communities .main{
	width:90vh;
}
#about .main .block{
	width:90vh;
	height: 50vh;
	position: relative;
	top: 5vh;
	display: flex;
}
#about .main .block .pic1{
	width:40%;
	height: 100%;
	background-image: url('information/03-photo/3000061.png');
	background-size: 100% 100%;
	background-position: center;
}
#about .main .block .text{
	width:60%;
	height: 100%;
	background-color: white;
	padding: 0 15px;
}
#about .main .block .text h3,#play .main h3,#story .main  .block .text h3,#frame .main h3{
	font-size: 30px;
	color: darkorange;
	margin: 0;
	font-weight: normal;
}
#about .main .block .text p{
	margin: 0;
	font-size: 18px;
	line-height: 30px;
}
#play,#character{
	height: 70vh;
	
}
#frame{
	height: 60vh;
}
#frame .main .block{
	width:90vh;
	height: 55vh;

}
#frame .main .block img{
	margin-left: 1px;
}
.swiper-container {
	width: 100%;
	height: 100%;
  }
.swiper-slide {
	width: 100%;
	height: 100%;

	/* Center slide text vertically */
	display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  }
  .swiper-slide .text{
	  text-align: left;
	margin:0 20px;
	
  }
  .swiper-slide .text p{
	font-size: 18px;
	line-height: 30px;
  }
  .swiper-slide .text p b{
	font-size: 30px;
  }
  .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	
	color:#000;
	opacity: 1;
	background: rgba(0,0,0,0.2);
  }

  
  .swiper-pagination-bullet-active {
	color:black;
	background: peru;
  }
#story{
	height: 65vh;
}
#story .main{
	width:90vh;

}
#story .main .select,#download .main .select{
	width:90vh;
	height: 5vh;
	background-color:white;
}

#story .main .block{
	width:90vh;
	height: 55vh;
	background-color: gainsboro;
	position: relative;
	top: 2vh;
	display: flex;
	margin: 0;
}
#story .main  .block .pic3{
	width:45%;
	height: 100%;
	background-image: url('information/03-photo/frame/mon/以諾塔陸地.jpg');
	background-position: center;
}
#story .main  .block .text{
	width:55%;
	height: 100%;
	padding: 0 15PX;

}
#story .main  .block .text p,#character .main .block .text p{
	font-size: 18px;
	line-height: 30px;
	margin: 0;
}
#character .main h3,#adv .main h3{
	font-size: 30px;
	color: darkorange;
	margin: 0;
	background-color: white;
	font-weight: normal;
}
#character{
	height: 180vh;
}
.btn1 .bt1,.btn3 .bt1,.btn4 .bt1{
    display: inline-block;
    font-size: 25px;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 5px 15px;
    color: black;
    background-color: goldenrod;
    background-image: url('information/03-photo/frame/line/金框.png');
    background-size: 100% 100%;
    transition-duration: 0.3s;
	
}

#character .main .btn1 a{
    margin:0 5px;    
}


#character .main .block1{
	width:90vh;
	height: 50vh;
	background-color: gainsboro;
	position: relative;
	display: flex;
	margin:2% 0;
}
#character .main .block2{
	width:90vh;
	height: 50vh;
	background-color: gainsboro;
	position: relative;
	display: flex;
	margin:2% 0;
}
#character .main .block3{
	width:90vh;
	height: 45vh;
	background-color: gainsboro;
	position: relative;
	display: flex;
	margin:2% 0;
}
#character .main .block3 img{
	margin-left: 5px;
}
#myBtn{
	display: none;
	position: fixed;
	top: 90vh;
	right: 10px;	
	z-index: 999;
	padding: 15px;
	border: none;
	outline: none;
	background-color: goldenrod;
	border-radius: 50%;
	cursor: pointer;
}
#myBtn .tre{
	width: 0;
	height: 0;
	border-style: solid;
	border-width:  0 25px 43.3px 25px;
	border-color: transparent transparent white transparent;
}
#studio{
	height: 35vh;
}
#studio .select{
	padding-bottom: 15px;
}
#studio .main h3{
	font-size: 30px;
	color: darkorange;
	font-weight: normal;
	margin-bottom: 0;

}
#adv{
	height: 60vh;
}
#adv .main .block{
	width:90vh;
	height: 53.5vh;
	position: relative;
	display: flex;
}
#adv .main .block .b1{
	width: 60%;
	height: 100%;
	margin-right: 5px; 
}
#adv .main .block .b2{
	width: 40%;
	height: 100%;
}
#adv .main .block .b1 .pic5{
	width: 100%;
	height: 35%;
	background-image: url('information/03-photo/artist/bigbang.jpg');
	background-size: 100% 100%;
	margin-bottom: 5px;
}
#adv .main .block .b2 .pic6{
	width: 100%;
	height: 45%;
	background-image: url('information/03-photo/artist/陳妍希.jpg');
	background-size: 100% 100%;
	margin-bottom: 5px;
}
#download{
	height: 55vh;
}
#download .main .block{
	width: 90vh;
	height: 45vh;
	background-color: gainsboro;
	padding-top: 20px;
}
#download .main .block .up{
	width: 35%;
	height: 75%;
	background-image: url('pic/4H19WK5YTN.png');

	margin:0 auto;
	background-size: 100% 100%;
}
#download .main .block .down{
	width: 100%;
	height: 20%;
	background-color: gainsboro;
	margin-top: 3%; 
	display: flex;
	justify-content: space-around;
	padding-bottom: 20px;
}
.down .load1,.down .load2,.down .load3{
	width: 30%;
	height: 100%;
	background-color: red;
	border-radius: 15px;
}
.down .load1{
	background-image: url('pic/ios.png');
	background-size: 100% 100%;
}
.down .load2{
	background-image: url('pic/google play.png');
	background-size: 100% 100%;
}
.down .load3{
	background-image: url('pic/android.png');
	background-size: 100% 100%;
}
#communities{
	height: 30vh;
	background-color: peru;
}
#communities .main{
	padding-top:25px;
}
#communities .main .block{
	width: 90vh;
	height: 25vh;
	background-color: peru;
	display: flex;
	justify-content: space-around;

}
.block .s1,.block .s2,.block .s3{
	width: 31%;
	height: 70%;
	background-color: goldenrod;
	margin-top: 25px;
	border-radius: 10px;
}
.block .s1{
	background-image: url('pic/bahaLOGO_1200x630.jpg');
	background-size: 100% 100%;
}
.block .s2{
	background-image: url('information/03-photo/website_zh.jpg');
	background-size: 100% 100%;
}
.block .s3{
	background-image: url('pic/fb_icon_325x325.png');
	background-size: 100% 100%;
}

.block .s3 p{
	position: relative;
	left: 60px;
	top: 45px;
	color: white;
	font-size: 24px;
	text-align: center;
	
}
@media screen and(max-width: 767px){
	.navbar-default .navbar-nav li a{
		margin-left: 0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color:white;
	}
}
@media screen and (max-width: 576px) {
	.top h3 {
    text-align: center;
    font-size: 20px;
	}
	.top .main .block{
		width: 50vh;
		height: 15vh;
		background-position: center;
	}
	.navbar-default .navbar-nav li a{
		margin-left: 0;
	}
.open .dropdown-menu>li>a{
		text-align: left;
		margin-left: 10px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color:white;
	}
	#about{
		height: 125vh;
	}
	#about .main .block{
		width: 50vh;
		height: 100vh;
		flex-wrap: wrap;
	}
	#about .main .block .pic1{
		width:100%;
		height: 60%;
		background-size: 100% 100%;
		position: relative;
	}
	#about .main .block .text{
		width: 100%;
		height: 40%;
		padding: 15px 15px;
		flex-wrap: wrap; 

	}
	#frame{
		height: 170vh;
	}
	#frame .main .block{
		width: 50vh;
		height: 160vh;
		flex-wrap: wrap;
		margin: 0;
	}
	.swiper-slide{
		flex-flow: column;

	}
	.swiper-slide img{
		width:400px; 
		height:640px;
	}
	#play{
		height: 45vh;
	}
	#play .main iframe{
		width: 430px;
		height: 350.8px;
	}
	#story{
		height: 140vh;
	}
	#story .main  .block{
		width: 50vh;
		height: 130vh;
		flex-wrap: wrap;
	}
	#story .main  .block .pic3{
		width:100%;
		height: 55%;
		background-size: 100% 100%;
	}
	#story .main  .block .text{
		width:100%;
		height: 45%;
	}
	#character{
		height: 230vh;
	}
	#character .btn1 .bt2,.btn1 .bt3{
		display: none;
	}
	.btn3 .bt1,.btn4 .bt1{
		display: inline-block;
		font-size: 25px;
    	border: 1px solid #fff;
    	border-radius: 15px;
    	padding: 5px 15px;
    	color: black;
    	background-color: goldenrod;
    	background-image: url('../information/03-photo/frame/line/金框.png');
    	background-size: 100% 100%;
		transition-duration: 0.3s;
		margin-bottom: 5px;
	}
	#character .main .block1{
		width:50vh;
		height: 70vh;
		flex-wrap: wrap;
	}
	#character .main .block2{
		width:50vh;
		height: 65vh;
		flex-wrap: wrap;
	}
	#character .main .block3{
		width:50vh;
		height: 60vh;
		flex-wrap: wrap;
	}
	#character .main .block1 .swiper-container .swiper-slide img{
		height: 285px;
	}
	#character .main .block2 .swiper-container .swiper-slide img{
		height: 285px;
	}
	#character .main .block2 .swiper-container .swiper-slide .pic1 img,#character .main .block2 .swiper-container .swiper-slide .pic2 img{
		width: 250px;
		height: 285px;
	}
	#character .main .block3 .swiper-container .swiper-slide img{
		height: 285px;
	}
	#studio{
		height: 135vh;
	}
	#studio .main iframe{
		width: 430px;
		height: 341px;
	}
	#adv{
		height: 130vh;
	}
	#adv .main .block{
		width:50vh;
		height: 70vh;
		flex-wrap: wrap;
	}
	#adv .main .block .b1,#adv .main .block .b2{
		width: 100%;
		height: 50%;
	}
	#adv .main .block .b1 .pic5{
		width: 100%;
		height: 60%;
	}
	#adv .main .block .b2 .pic6{
		width: 100%;
		height: 80%;
		margin-top:42%; 
	}
	#adv .main .block .b1 .video1 iframe{
		width:430px ;
		height:291px ;
	}
	#adv .main .block .b2 .video2 iframe{
		width:430px ;
		height:291px ;
	}
	#download{
		height: 100vh;
	}
	#download .main .block{
		width: 50vh;
		height: 85vh;
		padding-top:0;
		margin-top: 0; 
	}
	#download .main .block .up{
		width: 100%;
		height: 55%;
		margin-top: 0 ;
	}
	#download .main .block .down{
		width: 100%;
		height: 45%;
		flex-wrap: wrap;
		background-color: white;
		margin-top: 0 ;
		
	}
	.down .load1,.down .load2,.down .load3{
		width: 100%;
		height: 32%;
		border-radius: 22px;
	}
	#communities{
		height: 90vh;
	}
	#communities .main .block{
		width: 50vh;
		height: 80vh;
		flex-wrap: wrap;
	}
	.block .s1,.block .s2,.block .s3{
		width: 100%;
		height: 30%;
	}
	.block .s3 p{
		left: 25%;
		top: 30%;
	}
	#download .top {
		margin-top: 30%;
	}
}